
#th1{
color:white;
font-size:14px;
background-color:#b22222;
text-align:left;
}
table{
width:100%;
font-family:sans-serif;
border-collapse:collapse;
border:1px solid gray;
}
th,td{
padding-top:10px;
padding-bottom:10px;
border-collapse:collapse;
border:1px solid gray;
}
td{
padding-left:8px;
padding-right:8px;
padding-top:8px;
padding-bottom:8px;
}
#t{
font-size:12px;
border:1px solid gray;
}
#t:hover{
background-color:#F7E169;

}
tr:nth-child(even) {background-color: #f2f2f2;}