#p1 {
     color:white;
     background-color:blue;
}
.p2 {
     color:black;
     background-color:green;
}
* {
     color:black;
     background-color:yellow;
}
p {
     color:yellow;
     background-color:pink;
}