#css

a{
text-decoration: none;
display: block;
padding-top: 6px;
padding-right: 8px;
padding-bottom: 6px;
padding-left: 16px;
color:white;
}
.sidenav
{
    height: 100%;
width: 160px;
padding-top: 20px;
background-color: rgb(11, 153, 11);
position: fixed;
top: 0px;
left: 0px;

}

.sidenav a:hover
{
    color:red;
}
.main{
    margin-left: 160px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 2000px;
}







